<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Inicio</title>
<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/estilos.css}">
<link rel="icon" type="image/png" href="../static/images/favicon.png" th:src="@{images/favicon.png}">
</head>
<body>

		<nav>
          <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="tiendas">Tiendas</a></li>
            <li><a href="empleados">Empleados</a></li>
            <li><a href="productos">Productos</a></li>
          </ul>
        </nav>
        
	<div class="container">
	  <img src="../static/images/logo.png" width="1000" th:src="@{images/logo.png}" class="mx-auto d-block" style="width:25%"/>
	  <br />
	  <br />
	  <h1 style="width:25%; text-align:center; font-weight:bold" class="mx-auto d-block">Bienvenido!</h1>
	</div>
</body>
</html>