<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Productos</title>
<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/estilos.css}">
<link rel="icon" type="image/png" href="../static/images/favicon.png" th:src="@{images/favicon.png}">
</head>
<body>
	
		<nav>
          <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="tiendas">Tiendas</a></li>
            <li><a href="empleados">Empleados</a></li>
            <li><a href="productos">Productos</a></li>
          </ul>
        </nav>

	<div class="container">
	  <img src="../static/images/logo.png" width="1000" th:src="@{images/logo.png}" class="mx-auto d-block" style="width:25%"/>
	</div>
	<div class="container">
		<br>
		<div>
			<a href="/editar_producto/0" class="btn btn-primary float-right">Agregar</a>
		</div>
		<h2 th:if="${list.isEmpty()}">No hay Productos</h2>
		<div th:if="${!list.isEmpty()}">
			<h2>Productos</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Descripción de Producto</th>
						<th>Fecha Ingreso</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="producto : ${list}">
						<td th:text="${producto.descripcion}">
						<td th:text="${producto.fecha_ingreso}">
						<td><a class="btn btn-warning" th:href="@{/editar_producto/{id_producto}(id_producto=${producto.id_producto})}">Editar</a></td>
						<td><a class="btn btn-danger" th:href="@{/borrar_producto/{id_producto}(id_producto=${producto.id_producto})}">Eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>